DETTAGLIO.....
<h1>Nome drink {{ drinkTitle }}</h1>
<img [src]="drink.strDrinkThumb" width="30" alt="immagine del drink">
<form>
  <div>
    <label>Nome:</label>
    <input [(ngModel)]="drink.strDrink" name="strDrink" required maxlength="50" />
  </div>
  <div>
    <ul>
      <li *ngFor="let tag of drink.tags; let i = index;">
        <input [(ngModel)]="drink.tags[i]" [name]="'tag' + i" />
        <button (click)="eliminaTag(i)">Elimina</button>
      </li>
      <li>
        <input [(ngModel)]="newTag" name="newTag"/>
        <button (click)="inserisciTag()">inserisci</button>
      </li>
    </ul>
  </div>

  <pre>{{ drink | json }}</pre>


  <button (click)="salva()">SALVA</button>
</form>
<!--
  FORM per consentire la modifica dei seguenti campi:
  - strDrink (modifica)
  - ingredienti (aggiunta/modifica/eliminazione)
  - traduzioni (modifica)
  - tags (aggiunta/modifica/eliminazione)
-->
<ul>
  <li [routerLink]="['/dettaglio/17195']">Bellini</li>
  <li [routerLink]="['/dettaglio/15853']">B-52</li>
</ul>
